<div class="contentWrapper pageWidth">	
            <h4 class="pageTitle">CUSTOMER P&amp;L REPORT</h4>
			<div class="tabMenuWrapper"> 				
								 
				 <div class="dropDownWrapper">
					  <!--select class="dropDownControl" id="selectMe">
						  <option value="100">VENKAT</option>
						  <option value="200">Pratap</option>
						  <option value="300">LAKSHMI</option>
						  <option value="400">GANESH</option>
					  </select>-->
					  <div class="dropdown clearfix">
                        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            {{selectedCustomer}}
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li ng-repeat="customer in customers"><a ng-click="displayPnLReport(customer.CustomerID,customer.CustomerName)">{{customer.CustomerName}}</a></li>
                        </ul>
                      </div>					  
				 </div>
				 <!--button id="update_chart">Update</button>-->
				
				 <div class="tabContentWrapper">
					
					<div id="venkat" class="tab_content">  						
						
						<div class="scrollTable hideHorizontalScroll bottomMargin20">				
							<table cellspacing="0" cellpadding="0" border="0" class="gridBlue" id="">

								<thead>
									<tr class="gridHeaderBlue">
										<th>Security ID</th>
										<th>Security Name</th>
										<th>First Report<br> Date (FRD)</th>
										<th>Average Cost Price<br> (INR) for FRD</th>
										<th>Quantity<br> for FRD</th>
										<th>Follow-up Report<br> Date (FURD)</th>
										<th>Current Market Price<br> (INR) for FURD</th>	
										<th>Quantity for<br> FURD</th>										
									</tr>
								</thead>

								<tbody>
									<tr class="evenRow" ng-repeat="custpnl in custPnLReport">
										<td>{{custpnl['_id'].SecurityID}}</td>
										<td>{{custpnl['_id'].SecurityName}}</td>
										<td class="txtRight">{{custpnl['_id'].FRD}}</td>
										<td class="txtRight">{{custpnl['_id'].FRD_Avg_CostPrice}}</td>
										<td class="txtRight">{{custpnl['_id'].FRD_Quantity}}</td>
										<td class="txtRight">{{custpnl['_id'].FURD}}</td>
										<td class="txtRight">{{custpnl['_id'].FURD_Avg_CostPrice}}</td>
										<td class="txtRight">{{custpnl['_id'].FURD_Quantity}}</td>
									</tr>
								</tbody>
								
							</table>					
				        </div>	
						
						<div class="bottomMargin20 clearFix">
							<div class="floatL width75 marginR1">
								<div class="scrollTable hideHorizontalScroll">				
									<table cellspacing="0" cellpadding="0" border="0" class="gridBlue" id="">

										<thead>
											<tr class="gridHeaderBlue">
												<th>Security ID</th>
												<th>Security<br>Name</th>
												<th>TCP (Total  Cost<br>Price INR)</th>
												<th>TCMP (Total Current<br>Market Price INR)</th>
												<th>P&amp;L (Profit &amp;<br> Loss INR)</th>
												<th>P&amp;L<br>Percentage</th>
												<th>Annualized<br>Return</th>																							
											</tr>
										</thead>

										<tbody>
											<tr class="evenRow" ng-repeat="custpnl in custPnLReport">
												<td>{{custpnl['_id'].SecurityID}}</td>
												<td>{{custpnl['_id'].SecurityName}}</td>
												<td class="txtRight">{{custpnl['_id'].FRD_TCP}}</td>
												<td class="txtRight">{{custpnl['_id'].FURD_TCP}}</td>
												<td class="txtRight">{{custpnl['_id'].PROFIT_LOSS}}</td>
												<td class="txtRight">{{custpnl['_id'].PROFIT_LOSS/custpnl['_id'].FRD_TCP*100 | number:2}}</td>
												<td class="txtRight">{{(custpnl['_id'].PROFIT_LOSS*365/getDateDifference())/custpnl['_id'].FURD_TCP*100 | number:2}}</td>
											</tr>
											<tr>											  
											  <td colspan="2">TOTAL</td>
											  <td class="txtRight">{{getTotal('FRD_TCP')}}</td>
											  <td class="txtRight">{{getTotal('FURD_TCP')}}</td>
											  <td class="txtRight">{{getTotal('PROFIT_LOSS')}}</td>
											  <td colspan="2">&nbsp;</td>
											</tr>
									
										</tbody>
										<tfoot>
																	
									</table>					
								</div>	
							</div>
							
							<div class="floatL width24">
								<div class="scrollTable hideHorizontalScroll">				
									<table cellspacing="0" cellpadding="0" border="0" class="gridBlue" id="">

										<thead>
											<tr class="gridHeaderBlue">
												<th>Original<br>Allocation</th>
												<th>Current<br>Allocation</th>																						
											</tr>
										</thead>

										<tbody>
											<tr class="evenRow" ng-repeat="custpnl in custPnLReport">
												<td class="txtRight">{{custpnl['_id'].FRD_TCP/getTotal('FRD_TCP')*100 | number:2}}</td>
												<td class="txtRight">{{custpnl['_id'].FURD_TCP/getTotal('FURD_TCP')*100 | number:2}}</td>												
											</tr>
										</tbody>
										
										<tfoot>
											<tr>										 
											  <td colspan="2">&nbsp;</td>
											</tr>
										</tfoot>
										
									</table>					
								</div>	
							</div>
						</div>

						<!--div ng-controller="CustomerPnLController">
							<nvd3-pie-chart
						    	data="graphArray"
						        id="originalAllocationId"
						        width="550"
						        height="350"
						        x="xFunction()"
						        y="yFunction()"
						        showLabels="true">
						        <svg></svg>
						    </nvd3-pie-chart>
						</div>-->

						<div class="clearFix">
							<div class="chartBox floatL width49 marginR2">
								<h4>Original Allocation</h4>
								<div class="padd5" ng-controller="CustomerPnLController">
										<nvd3-pie-chart
										    	data="graphArray"
										        id="originalAllocationId"
										        width="550"
										        height="350"
										        x="xFunction()"
										        y="yFunction()"
										        showLabels="true"
										        labelType="percent"
										        showLegend="true">
										        <svg height="250"></svg>
						    			</nvd3-pie-chart>
									
								</div>
							</div>
							
							<div class="chartBox floatL width49">
								<h4>Current Allocation</h4>
								<div class="padd5" ng-controller="CustomerPnLController">
										<nvd3-pie-chart
										    	data="graphCurrentArray"
										        id="currentAllocationId"
										        width="550"
										        height="350"
										        x="xFunction()"
										        y="yFunction()"
										        showLabels="true"
										        labelType="percent"
										        showLegend="true">
										        <svg height="250"></svg>
						    			</nvd3-pie-chart>
									
								</div>
							</div>
						</div>
										
					</div>
				</div>
			</div>
			  			
           <div class="clearFix"></div>
                
    </div>